*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-model{
border: 5px solid blueviolet;
padding: 20px;
margin: 20px;
display: none;
}

.card{
    box-shadow: 0 0 10px lightgray;
    width: 320px;
    padding: 12px;
    margin: 8px;
    border-radius: 16px;
}

.card-img{
    width: 100%;
    border-radius: 16px;
}

.btn{
    background-color: black;
    color: white;
    padding: 7px 18px;
    text-decoration: none;
    border-radius: 66px;
    display: inline-block;
    margin: 4px 0 4px 0;
}
.user{
    height: 83px;
    width: 86px;
    border-radius: 50%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}